html {
  padding: 0px;
  margin: 0px;
}

h1 {
  color: purple;
  font-family: fantasy;
}
body {
  padding: 0px;
  margin: 0px;
  background-color: lightblue;
}

fieldset {
  font-family: fantasy;
  height: 30vh;
}

label {
  height: 20vh;
}

input[type="text"] {
  height: 10vh;
}
